{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fakebody-another">
        <br>
        <div class='update-heading' style="margin-left: 10vw;">Hello There!</div>
        <div class='addition-item' style="margin-left: 5vw;">
            <form method="POST" action="">
                {% csrf_token %}
                    <br>
                    <div class="update-input-field">
                        {% render_field form.username %}
                        <label>Username</label>
                    </div>
                    <br><br>
                    <span class="helptext">150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                    <br><br>

                    <div class="update-input-field">
                        {% render_field form.password1 %}
                        <label>Password</label>
                    </div>
                    <br><br>
                    <span class="helptext">
                        <div>
                            <li>Your password can’t be too similar to your other <br> personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </div>
                    </span>
                    <br>

                    <div class="update-input-field">
                        {% render_field form.password2 %}
                        <label>Confirm Password</label>
                    </div>
                    <br><br>
                    <span class="helptext">Enter the same password as before, for verification.</span>
                    <br><br>        
                <br>
                <input type="submit" class='update-submit-item' style="margin-left: 8vw;" name="Create User"> 
                <br><br>
                <p class="helptext" style="text-align: center; font-size: 16px; line-height: 0em;">Already have an account? <a href="{% url 'login' %}" style="text-decoration: none; color : white;">Login</a></p>
                <br>
            </form>
        </div>
    </div>
</body>
</html>
