{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="fakebody" style="margin-left: 30%;">
            <div class="delete-item">
                <h3>Are you sure you want to delete {{task}}?</h3>
                <div class="delete-item-btn">
                    <a class="delete" href="{% url 'tasks' %}">Cancel</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="update" type="submit" value="Confirm">
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </body>
</html>