{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="update-heading">
            <h3>Update Task</h3>
        </div>
        <div class="add-item">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="update-input-field">
                    {% render_field form.title %}
                    <label>Name of task</label>
                    <br><br>
                </div>
                {% render_field form.complete class="checkbox" %}
                {% render_field form.complete.label %}
                <br><br>
                <input type="submit" class="update-submit-item" value="Update Task">
                <br><br><br>
            </form>
        </div>  
    </body>
</html>